@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style>
    #main {
        margin-left: 70px;
        margin-right: auto;
    }
</style>

<main id="main">

    <h1 class="text-danger">Error.</h1>

    @if (Model.ShowRequestId)
    {
        <h2 class="text-danger">@Model.ErrorMessage</h2>
        <p>
            <strong>Request ID:</strong><code>@Model.RequestId</code>
        </p>
    }

</main>
