@page "/Usuario/Register/{data?}"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    #main {
        margin-left: 100px;
        margin-right: auto;
    }
</style>

<main id="main">

    <h1>@Model.Message</h1>
</main>